@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*
{
    border: none;
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;

    font-family: "Roboto", sans-serif;
    color: #fff;
}

body
{
    padding: 10px;
    background-color: black;
}

.login-btns
{
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#search
{
    min-width: 150px;
    width: 350px;
    background-color: #242424;
    text-overflow: ellipsis;

    font-size: 1.6rem;
}

#search:hover
{
    outline: #404040 solid 1.5px;
}

#search:focus
{
    outline: #fff solid 2px;
}

.btn1, .btn2
{
    width: 90px;
    height: 40px;
    outline: none;
    font-weight: 400;
    cursor: pointer;

    font-size: 2rem;
}

.btn1:hover
{
    color: #fff;
    transition: all 0.3s ease;
}

.btn2:hover
{
    transform: scale(1.05,1.05);
    transition: all 0.1s ease;
}

.home
{
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.home li img
{
    width: 24px;
}

.home li
{
    display: flex;
    gap: 10px;
    align-items: center;
}

ul
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    font-size: 1.6rem;
}

.library
{
    height: calc(100vh - 195px);    
    position: relative;
    
    font-size: 1.6rem;
}

.library .now-playing
{
    display: flex;
    flex-direction: column;
    gap: 15px;

    background-color: #242424;
    box-sizing: content-box;
}

.library .now-playing img
{
    width: 25px;
}

.library footer
{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    position: absolute;
    bottom: 20px;
}

.library footer a
{
    color: #b3b3b3;
    text-decoration: none;

    font-size: 1.5rem;
}



/* ........................ */

.playlists .containeer .card
{
    box-sizing: content-box;
    width: 150px;
    height: min-content;

    display: flex;
    flex-direction: column;
    gap: 10px;

    background-color: #171717;
    cursor: pointer;

    transition: all 0.3s ease-in;
    position: relative;
}

.playlists .containeer .card:hover
{
    background-color: #262626;
}

.playlists .containeer .card #play
{
    width: 40px;
    position: absolute;
    bottom: 78.5px;
    right: 15px;
    opacity: 0;
    transition: all 0.3s ease-in;
}

.playlists .containeer .card:hover #play
{
    transform: translateY(-15px);
    opacity: 1;
}

.playlists .containeer .card img
{
    width: 150px;
}

.playlists .containeer
{
    display: inline-flex;
    flex-wrap: wrap;

    gap: 30px 20px;    

    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

/* ................................. */

.playback
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.music-state
{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 90%;
}

.music-state p
{
    font-size: 1.6rem;
    font-weight: 500;
}

.progress-bar
{    
    min-width: 200px;
    max-width: 700px;
    width: calc(100% - 100px);
    height: 3px;
    border-radius: 1.5px;
    background-color: #545454;
    cursor: pointer;

    display: flex;
    align-items: center;
    
    position: relative;
}

.progress-bar:hover
{
    background-color: #fff;
}

.progress
{
    height: 3px;
    border-radius: 1.5px;
    background-color: gray;

    position: absolute;
    top: 0;
    left: 0;

    width: 0px;
}

.pointer
{
    width: 12px;
    height: 12px;
    background-color: #1DB954;
    border-radius: 100%;
    transform: translate(-4.5px);
    
    transition: transform 1s linear;

    opacity: 0;
}

.progress-bar:hover .pointer
{
    opacity: 1;
}

.progress-bar:hover .progress
{
    background-color: #1DB954;
}

.controlers
{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}